body {
	font: 16px/1.5 sans-serif;
}

canvas {
	display: block;
	border: 1px solid #606060;
	margin: 15px auto 0;
	padding: 0;
}

#main {
	width: 960px;
	margin: 0 auto;
}

#status,
#memory {
	text-align: center;
	border-collapse: collapse;
}

#status td,
#memory td {
	width: 2em;
	height: 30px;
	font-family: monospace,monospace;
	line-height: 30px;
	border: 1px solid #000;
}

label {
	vertical-align: middle;
}

.register-wrapper {
	margin-bottom: 40px;
}

.register {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 4em;
	height: 30px;
	font: 16px/30px monospace,monospace;
	border: 1px solid #000;
	margin-right: 25px;
}

#tia-frequency,
#frame-rate {
	width: 6em;
	margin-right: 0.5em;
}

.controls {
	clear: both;
	margin-top: 50px;
}

#instructions {
	display: block;
	width: 600px;
	height: 600px;
	overflow: auto;
	background: #ddd;
	resize: none;
	margin: 40px auto 0;
}

#memory {
	margin-top: 35px;
}

#memory .leftcol {
	font-family: sans-serif;
	font-weight: bold;
	border-width: 0;
}

#status {
	float: left;
	margin-right: 100px;
}