@import "_normalize";

body {
	font: 12px/1 Arial,sans-serif;
}

body > div {
	width: 920px;
}

table {
	border-collapse: collapse;
}

td {
	width: 2em;
	height: 24px;
	font-family: monospace,monospace;
	line-height: 24px;
	text-align: center;
	border: 1px solid #000;
}

label {
	vertical-align: middle;
	text-align: right;

	&:after {
		content: ":";
	}
}

.cpu-left,
.cpu-right {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
}

.cpu-left {
	width: 455px;
	padding: 0 10px;
}

.cpu-right {
	width: 435px;
}

.register {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 4em;
	height: 24px;
	font: 11px/24px monospace;
	border: 1px solid #000;
	margin-right: 20px;
}

.swatch {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 18px;
	border: 1px solid #333;
}

.status {
	float: left;
	margin: 25px 0;
}

.beam-position {
	margin-top: 10px;

	label {
		display: inline-block;
		text-align: right;
		width: 80px;
	}

	.register {
		margin-bottom: 4px;
	}
}

.frequency-wrapper {
	display: inline-block;
}

#tia-frequency,
#frame-rate {
	width: 6em;
	margin-right: 0.5em;
}

#frame-rate {
	margin-left: 25px;
}

.memory {
	clear: both;

	.leftcol {
		font-family: sans-serif;
		font-weight: bold;
		border-width: 0;
	}
}

.instructions {
	width: 420px;
	height: 305px;
	border: 1px solid #d0d0d0;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 15px;

	table {
		width: 100%;
	}

	tr:hover {
		background-color: #cfd;
	}

	.active td {
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		padding-top: 0;
		padding-bottom: 0;
	}

	td {
		font: 13px/15px monospace;
		border: 0;
		text-align: left;
		height: 15px;
		padding: 1px 0;
	}

	.offset {
		width: 50px;
		padding-left: 20px;
	}

	.abbr {
		width: 40px;
	}

	.operand {
		width: 50px;
	}

	.cycles {
		width: 20px;
	}
}

fieldset {
	display: inline-block;
	vertical-align: top;
	margin: 5px;

	ul {
		list-style: none;
		padding: 0 5px;
		margin: 10px 0;

		li {
			margin: 4px 0;

			label {
				display: inline-block;
				text-align: right;
			}

			.register {
				margin-right: 0;
			}
		}
	}
}

.controls {
	display: block;
	width: 225px;
}

.timer {
	width: 155px;

	label {
		width: 47px;
	}

	.register {
		width: 7em;
	}
}

.console-switches {
	width: 140px;
	
	label {
		width: 75px;
	}
}

.player {
	width: 160px;

	label {
		width: 60px;
	}

	.wide {
		width: 7em;
	}
}

.playfield {
	width: 160px;

	label {
		width: 60px;
	}

	.wide {
		width: 7em;
	}
}