@import "_normalize";

/* Mixins Go Here ! */

@mixin borderRadius($xr, $yr: $xr) {
	-webkit-border-radius: #{$xr} / #{$yr};
	-moz-border-radius: #{$xr} / #{$yr};
	border-radius: #{$xr} / #{$yr};
}

@mixin boxShadow($x, $y, $size, $blur, $color) {
	-webkit-box-shadow: $x $y $size $blur $color;
	box-shadow: $x $y $size $blur $color;
}

@mixin rotate($angle, $originX: center, $originY: center) {
	-webkit-transform-origin: $originX $originY;
	-moz-transform-origin: $originX $originY;
	-o-transform-origin: $originX $originY;
	-ms-transform-origin: $originX $originY;
	transform-origin: $originX $originY;

	-webkit-transform: rotate($angle);
	-moz-transform: rotate($angle);
	-o-transform: rotate($angle);
	-ms-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin simpleTransition($duration, $timing) {
	-webkit-transition: $duration $timing;
	-moz-transition: $duration $timing;
	-o-transition: $duration $timing;
	-ms-transition: $duration $timing;
	transition: $duration $timing;
}

/* End of Mixins */

$red: #b04433;
$yellow: #af8837;

.hidden {
	display: none;
}

body {
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 1) 500px),
		url(../images/black-noise.png);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 1) 500px),
		url(../images/black-noise.png);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 1) 500px),
		url(../images/black-noise.png);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 1) 500px),
		url(../images/black-noise.png);
	background: linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 300px, rgba(0, 0, 0, 1) 500px),
		url(../images/black-noise.png);
	font: 12px/1 'Syncopate', sans-serif;
	letter-spacing: -1px;
	margin: 0;
	overflow-x: hidden;
}

a {
	color: $red;

	&:hover {
		text-decoration: underline;
	}
}

header {
	height: 75px;

	h1 {
		font: 48px/75px 'Press Start 2P', monospace;
		text-align: center;
		text-shadow: 4px 4px 2px #aaa;
		letter-spacing: 7px;
		margin: 0;
	}
}

.tv-wrapper {
	text-align: center;

	canvas {
		-webkit-transform: scale(4.0, 2.0) translateY(60px);
		-moz-transform: scale(4.0, 2.0) translateY(60px);
		-o-transform: scale(4.0, 2.0) translateY(60px);
		-ms-transform: scale(4.0, 2.0) translateY(60px);
		transform: scale(4.0, 2.0) translateY(60px);
	}
}

.controls-wrapper {
	background: url(../images/console-bg.jpg) 0 -12px;
	margin-top: 200px;
	padding: 20px 0 100px;
	text-align: center;

	.controls {
		width: 960px;
		background: #000;
		color: $yellow;
		height: 100px;
		border: 2px ridge $yellow;
		margin: 50px auto 0;
		padding-top: 10px;

		h2 {
			height: 25px;
			color: #fff;
			font-size: 17px;
			line-height: 25px;
			vertical-align: text-bottom;
			margin: 0;
		}

		.left {
			float: left;
			height: 100%;
		}

		.right {
			float: right;
			height: 100%;
		}

		.cart-slot {
			display: table-cell;
			width: 330px;
			height: 50px;
			max-height: 50px;
			overflow: hidden;
			border: 6px ridge #555;
			@include borderRadius(10px);
			color: #c0c0c0;
			font-weight: bold;
			font-size: 13px;
			margin: 5px auto 0;
			text-align: center;
			vertical-align: middle;
		}

		.drag-over {
			border-color: #fff;
		}

		.file-loaded {
			border-color: #0e1;
		}

		.switch {
			display: inline-block;
			position: relative;
			width: 70px;
			height: 100%;
			font-weight: bold;
			text-align: left;
			margin: 0 15px;

			label,
			span {
				display: block;
			}

			label {
				height: 25px;
				line-height: 1.4;
			}

			span {
				position: absolute;
				font-size: 10px;
				line-height: 1;
				left: 50px;
				top: 42px;
			}

			.bottom {
				margin-top: 30px;
			}

			input[type=range] {
				-webkit-appearance: none;
				width: 50px;
				background: #000;
				border: 4px solid #333;
				@include borderRadius(11px);
				padding: 2px;
				@include rotate(-90deg);
				margin-top: 25px;

				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 10px;
					height: 10px;
					background: -webkit-radial-gradient(circle, #eee, #606060);
					background: -moz-radial-gradient(circle, #eee, #606060);
					background: -o-radial-gradient(circle, #eee, #606060);
					background: -ms-radial-gradient(circle, #eee, #606060);
					background: radial-gradient(circle, #eee, #606060);
					border: 1px solid #606060;
					@include borderRadius(6px);
				}
			}
		}

		.power {
			color: $red;

			label {
				line-height: 25px;
				margin-left: 6px;
			}
		}

		.tv-type {
			label {
				line-height: 25px;
				margin-left: 1px;
			}
		}

		.difficulty {
			label {
				margin-left: -6px;
				text-align: center;
			}
		}

		.slide-back {
			background: url(../images/switch-label.png) no-repeat 45px 38px;

			label {
				margin-left: -6px;
				text-align: center;
			}
		}
	}
}

.roms-panel {
	width: 280px;
	height: 260px;
	position: absolute;
	top: 240px;
	left: -342px;
	color: $yellow;
	background: #000;
	border: 2px ridge $yellow;
	border-left-width: 0;
	padding: 20px 30px;
	@include simpleTransition(0.5s, ease-in-out);

	.toggle-button {
		display: block;
		width: 100px;
		height: 25px;
		position: absolute;
		top: 101px;
		right: -104px;
		background: #000;
		border: 2px ridge $yellow;
		border-top-width: 0;
		text-align: left;
		text-indent: 23px;
		margin-left: 2em;
		line-height: 25px;
		cursor: pointer;
		@include rotate(-90deg, left, top);

		&:before {
			display: block;
			position: absolute;
			right: 12px;
			top: 0;
			content: "\bb";
			font-size: 20px;
			line-height: 1;
			text-indent: 0;
			vertical-align: middle;
			margin-left: 5px;
			@include rotate(90deg);
		}

		&:hover {
			color: saturate($red, 50%);
			text-decoration: none;
		}
	}

	&.open {
		left: 0;
		@include simpleTransition(0.5s, ease-in-out);
	
		.toggle-button:before {
			content: "\ab";
		}
	}

	h3 {
		font-weight: normal;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
	}

	ol {
		margin-top: 25px;
		height: 235px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-left: 23px;

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track:vertical {
			background: #808080;
		}

		&:-webkit-scrollbar-buttons:vertical {
			display: none;
		}

		&::-webkit-scrollbar-thumb:vertical {
			background: $yellow;
			border: 1px outset #606060;
		}

		&::-webkit-scrollbar-thumb:vertical:hover {
			background: saturate($yellow, 25%);
		}

		li {
			margin: 15px 0;

			a {
				color: $red;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	p {
		margin-top: 80px;
	}
}

.controls-panel {
	width: 340px;
	height: 260px;
	position: absolute;
	top: 240px;
	right: -402px;
	color: $yellow;
	background: #000;
	border: 2px ridge $yellow;
	border-right-width: 0;
	padding: 20px 30px;
	@include simpleTransition(0.5s, ease-in-out);

	.toggle-button {
		display: block;
		width: 125px;
		height: 25px;
		position: absolute;
		top: 127px;
		left: -129px;
		background: #000;
		border: 2px ridge $yellow;
		border-top-width: 0;
		text-align: left;
		text-indent: 30px;
		line-height: 25px;
		cursor: pointer;
		@include rotate(90deg, right, top);

		&:before {
			display: block;
			position: absolute;
			left: 12px;
			top: 2px;
			content: "\ab";
			font-size: 20px;
			line-height: 1;
			vertical-align: middle;
			text-indent: 0;
			margin-right: 5px;
			@include rotate(-90deg);
		}

		&:hover {
			color: saturate($red, 50%);
			text-decoration: none;
		}
	}

	&.open {
		right: 0;
		@include simpleTransition(0.5s, ease-in-out); 

		.toggle-button:before {
			content: "\bb";
		}
	}

	h3 {
		font-weight: normal;
		letter-spacing: 0;
		margin: 0 0 25px;
		padding: 0;
	}

	.column {
		display: inline-block;
		width: 165px;

		h4 {
			letter-spacing: 0;
		}

		dl {
			font-size: 10px;
		}

		dt {
			width: 30px;
			float: left;
			clear: left;	
			&:after {
				content: ":";
			}
		}

		dd {
			float: left;
			clear: right;
		}

		.edit-keymap {
			display: block;
			clear: both;
			color: $red;
			font-size: 11px;
			padding-top: 15px;
			cursor: pointer;
		}
	}
}

footer {
	width: 100%;
	bottom: 0;
	height: 115px;
	padding-top: 10px;
	@include boxShadow(0, -8px, 10px, 8px, rgba(203, 138, 95, 0.75));
	background: url(../images/wood_pattern.jpg);

	.content {
		width: 790px;
		margin: 0 auto;
		padding-top: 10px;

		.html5-logo {
			float: left;
		}

		.atari-logo {
			float: right;
		}

		ul {
			width: 350px;
			list-style: none;
			margin: 0 auto;
			padding: 10px 0 0;

			li {
				width: 100px;
				display: inline-block;
				margin: 6px 2px;
			}

			.follow {
				width: 200px;
			}
		}
	}
}

